[submodule "sdk-soundex"]
	path = sdk-soundex
	url = git@github.com:SujithVadakkepat/sdk-soundex.git
[submodule "sdk-payyans"]
	path = sdk-payyans
	url = git@github.com:SujithVadakkepat/sdk-payyans.git
[submodule "sdk-stemmer"]
	path = sdk-stemmer
	url = git@github.com:SujithVadakkepat/sdk-stemmer.git
