[submodule "sdk-soundex"]
	path = sdk-soundex
	url = https://github.com/SujithVadakkepat/sdk-soundex.git
[submodule "sdk-payyans"]
	path = sdk-payyans
	url = https://github.com/SujithVadakkepat/sdk-payyans.git
[submodule "sdk-stemmer"]
	path = sdk-stemmer
	url = https://github.com/SujithVadakkepat/sdk-stemmer.git
[submodule "sdk-characterdetails"]
	path = sdk-characterdetails
	url = https://github.com/SujithVadakkepat/sdk-characterdetails.git
[submodule "sdk-fortune"]
	path = sdk-fortune
	url = https://github.com/SujithVadakkepat/sdk-fortune.git
[submodule "sdk-syllabifier"]
	path = sdk-syllabifier
	url = https://github.com/SujithVadakkepat/sdk-syllabifier.git
[submodule "sdk-common"]
	path = sdk-common
	url = https://github.com/SujithVadakkepat/sdk-common.git
[submodule "sdk-demo"]
	path = sdk-demo
	url = https://github.com/SujithVadakkepat/sdk-demo.git
[submodule "sdk-katapayadi"]
	path = sdk-katapayadi
	url = https://github.com/SujithVadakkepat/sdk-katapayadi.git
[submodule "sdk-render"]
	path = sdk-render
	url = https://github.com/SujithVadakkepat/sdk-render.git
