[submodule "sdk-soundex"]
	path = sdk-soundex
	url = git@github.com:libindic/sdk-soundex.git
[submodule "sdk-payyans"]
	path = sdk-payyans
	url = git@github.com:libindic/sdk-payyans.git
[submodule "sdk-stemmer"]
	path = sdk-stemmer
	url = git@github.com:libindic/sdk-stemmer.git
[submodule "sdk-characterdetails"]
	path = sdk-characterdetails
	url = git@github.com:libindic/sdk-characterdetails.git
[submodule "sdk-fortune"]
	path = sdk-fortune
	url = git@github.com:libindic/sdk-fortune.git
[submodule "sdk-syllabifier"]
	path = sdk-syllabifier
	url = git@github.com:libindic/sdk-syllabifier.git
[submodule "sdk-common"]
	path = sdk-common
	url = git@github.com:libindic/sdk-common.git
[submodule "sdk-demo"]
	path = sdk-demo
	url = git@github.com:libindic/sdk-demo.git
[submodule "sdk-katapayadi"]
	path = sdk-katapayadi
	url = git@github.com:libindic/sdk-katapayadi.git
[submodule "sdk-render"]
	path = sdk-render
	url = git@github.com:libindic/sdk-render.git
[submodule "sdk-transliteration"]
	path = sdk-transliteration
	url = git@github.com:libindic/sdk-transliteration.git
[submodule "sdk-ucasort"]
	path = sdk-ucasort
	url = git@github.com:libindic/sdk-ucasort.git
[submodule "sdk-inexact-search"]
	path = sdk-inexact-search
	url = git@github.com:libindic/sdk-inexact-search.git
[submodule "sdk-text-similarity"]
	path = sdk-text-similarity
	url = git@github.com:libindic/sdk-text-similarity.git
[submodule "sdk-ngram"]
	path = sdk-ngram
	url = git@github.com:libindic/sdk-ngram.git
[submodule "sdk-shingling"]
	path = sdk-shingling
	url = git@github.com:libindic/sdk-shingling.git
[submodule "sdk-hyphenation"]
	path = sdk-hyphenation
	url = git@github.com:libindic/sdk-hyphenation.git
[submodule "sdk-spellchecker"]
	path = sdk-spellchecker
	url = git@github.com:libindic/sdk-spellchecker.git
[submodule "sdk-guesslanguage"]
	path = sdk-guesslanguage
	url = git@github.com:libindic/sdk-guesslanguage.git
